# coding: utf-8

"""
    Magento Community

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

    OpenAPI spec version: 2.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class DirectoryCountryInformationAcquirerV1Api(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def directory_country_information_acquirer_v1_get_countries_info_get(self, **kwargs):
        """
        Get all countries and regions information for the store.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.directory_country_information_acquirer_v1_get_countries_info_get(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :return: list[DirectoryDataCountryInformationInterface]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.directory_country_information_acquirer_v1_get_countries_info_get_with_http_info(**kwargs)
        else:
            (data) = self.directory_country_information_acquirer_v1_get_countries_info_get_with_http_info(**kwargs)
            return data

    def directory_country_information_acquirer_v1_get_countries_info_get_with_http_info(self, **kwargs):
        """
        Get all countries and regions information for the store.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.directory_country_information_acquirer_v1_get_countries_info_get_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :return: list[DirectoryDataCountryInformationInterface]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method directory_country_information_acquirer_v1_get_countries_info_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/V1/directory/countries', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[DirectoryDataCountryInformationInterface]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def directory_country_information_acquirer_v1_get_country_info_get(self, country_id, **kwargs):
        """
        Get country and region information for the store.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.directory_country_information_acquirer_v1_get_country_info_get(country_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str country_id: (required)
        :return: DirectoryDataCountryInformationInterface
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.directory_country_information_acquirer_v1_get_country_info_get_with_http_info(country_id, **kwargs)
        else:
            (data) = self.directory_country_information_acquirer_v1_get_country_info_get_with_http_info(country_id, **kwargs)
            return data

    def directory_country_information_acquirer_v1_get_country_info_get_with_http_info(self, country_id, **kwargs):
        """
        Get country and region information for the store.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.directory_country_information_acquirer_v1_get_country_info_get_with_http_info(country_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str country_id: (required)
        :return: DirectoryDataCountryInformationInterface
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['country_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method directory_country_information_acquirer_v1_get_country_info_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'country_id' is set
        if ('country_id' not in params) or (params['country_id'] is None):
            raise ValueError("Missing the required parameter `country_id` when calling `directory_country_information_acquirer_v1_get_country_info_get`")


        collection_formats = {}

        path_params = {}
        if 'country_id' in params:
            path_params['countryId'] = params['country_id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/V1/directory/countries/{countryId}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='DirectoryDataCountryInformationInterface',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
