# coding: utf-8

"""
    Magento Community

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

    OpenAPI spec version: 2.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class GiftMessageGuestItemRepositoryV1Api(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def gift_message_guest_item_repository_v1_get_get(self, cart_id, item_id, **kwargs):
        """
        Return the gift message for a specified item in a specified shopping cart.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.gift_message_guest_item_repository_v1_get_get(cart_id, item_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str cart_id: The shopping cart ID. (required)
        :param int item_id: The item ID. (required)
        :return: GiftMessageDataMessageInterface
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.gift_message_guest_item_repository_v1_get_get_with_http_info(cart_id, item_id, **kwargs)
        else:
            (data) = self.gift_message_guest_item_repository_v1_get_get_with_http_info(cart_id, item_id, **kwargs)
            return data

    def gift_message_guest_item_repository_v1_get_get_with_http_info(self, cart_id, item_id, **kwargs):
        """
        Return the gift message for a specified item in a specified shopping cart.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.gift_message_guest_item_repository_v1_get_get_with_http_info(cart_id, item_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str cart_id: The shopping cart ID. (required)
        :param int item_id: The item ID. (required)
        :return: GiftMessageDataMessageInterface
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cart_id', 'item_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method gift_message_guest_item_repository_v1_get_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cart_id' is set
        if ('cart_id' not in params) or (params['cart_id'] is None):
            raise ValueError("Missing the required parameter `cart_id` when calling `gift_message_guest_item_repository_v1_get_get`")
        # verify the required parameter 'item_id' is set
        if ('item_id' not in params) or (params['item_id'] is None):
            raise ValueError("Missing the required parameter `item_id` when calling `gift_message_guest_item_repository_v1_get_get`")


        collection_formats = {}

        path_params = {}
        if 'cart_id' in params:
            path_params['cartId'] = params['cart_id']
        if 'item_id' in params:
            path_params['itemId'] = params['item_id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/V1/guest-carts/{cartId}/gift-message/{itemId}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='GiftMessageDataMessageInterface',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def gift_message_guest_item_repository_v1_save_post(self, cart_id, item_id, **kwargs):
        """
        Set the gift message for a specified item in a specified shopping cart.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.gift_message_guest_item_repository_v1_save_post(cart_id, item_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str cart_id: The cart ID. (required)
        :param int item_id: The item ID. (required)
        :param Body108 body:
        :return: bool
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.gift_message_guest_item_repository_v1_save_post_with_http_info(cart_id, item_id, **kwargs)
        else:
            (data) = self.gift_message_guest_item_repository_v1_save_post_with_http_info(cart_id, item_id, **kwargs)
            return data

    def gift_message_guest_item_repository_v1_save_post_with_http_info(self, cart_id, item_id, **kwargs):
        """
        Set the gift message for a specified item in a specified shopping cart.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.gift_message_guest_item_repository_v1_save_post_with_http_info(cart_id, item_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str cart_id: The cart ID. (required)
        :param int item_id: The item ID. (required)
        :param Body108 body:
        :return: bool
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cart_id', 'item_id', 'body']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method gift_message_guest_item_repository_v1_save_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cart_id' is set
        if ('cart_id' not in params) or (params['cart_id'] is None):
            raise ValueError("Missing the required parameter `cart_id` when calling `gift_message_guest_item_repository_v1_save_post`")
        # verify the required parameter 'item_id' is set
        if ('item_id' not in params) or (params['item_id'] is None):
            raise ValueError("Missing the required parameter `item_id` when calling `gift_message_guest_item_repository_v1_save_post`")


        collection_formats = {}

        path_params = {}
        if 'cart_id' in params:
            path_params['cartId'] = params['cart_id']
        if 'item_id' in params:
            path_params['itemId'] = params['item_id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/V1/guest-carts/{cartId}/gift-message/{itemId}', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='bool',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
